/*importando de google fonds la letra*/
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

*{   /*reset basico*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para aplicar el padding*/
    text-decoration: none; /*quita las lineas de los enlaces*/
    list-style: none;
}




/* --- Estilos Generales --- */
body {
    font-family: 'Marcellus SC', serif;
}

/* Estilos del header */
header {
    width: 100%;
    padding: 10px 5%;
    background-color: rgb(255, 255, 255); /* O el color que prefieras */
}



/* Barra de navegación */
.navbar {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo { 
    height: 60px; /* Ajusta según tu logo */
}
/* Navegación */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px; /* Espaciado entre los elementos */
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Usuario */
.user-icon {
    font-size: 24px;
    color: black;
    vertical-align: middle;
}


/* Footer */
footer {
    background-color: #E8D8B0;
    color: #000;
    padding: 40px 0;
    font-family: 'Inter', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1320px;
    margin: 0 auto;
}

.footer-logo {
    flex: 1;
    text-align: left;
}

.footer-logo img {
    max-width: 100px; /* Reducir el tamaño del logo */
    height: auto; /* Mantener la proporción */
}

.footer-contact {
    flex: 2;
    text-align: left;
    margin-left: 30px; /* Para separar de los otros elementos */
}

.footer-contact h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-contact ul {
    padding: 0;
}

.footer-contact ul li {
    margin-bottom: 8px;
}

.footer-contact ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.footer-links {
    flex: 1;
    text-align: right;
}

.footer-links a {
    margin-left: 15px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.footer-bottom {
    text-align: center; /* Centrar el contenido */
    margin-top: 20px;
    font-size: 14px;
    padding-top: 10px;
    border-top: 1px solid #000;
}

.footer-bottom a {
    margin-left: 15px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }
    
    .card {
        max-width: 90%;
    }
}
